# Python
__pycache__
*.pyc
*.egg-info
dist
.vscode/*
core.*

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json
playground/data/
playground/calvin_data/*.json
playground/calvin_data/calvin_debug_dataset
playground/calvin_data/task_ABCD_D
playground/calvin_data_audio/*.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

tools/
logs/